.registrationForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
     margin-bottom: 130px;
     -webkit-box-shadow: 1px 4px 28px 9px rgba(0,0,0,0.41); 
     box-shadow: 1px 4px 28px 9px rgba(0,0,0,0.41);
  }
  
  .logo {
    max-width: 150px;
    margin-bottom: 8px;

  }
  
  .inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .inputIcon {
    margin: 0 8px;
    color: rgb(44, 194, 180);
  }
  
  .inputField {
    flex: 1;
    border: 1px solid #ccc; 
    border-radius: 5px;
    outline: none;
    padding: 8px; 

}
  
  .inputGroup.error {
    border: 1px solid red;
    border-radius: 5px;
  }
  
  .errorText {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  
  .submitButton {
    background-color: rgb(44, 194, 180);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #2ac2bd;
  }
  .h2{
    font-family: cocogoose;
    color: rgb(44, 194, 180);
    padding: 10px;
  }