.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(44, 194, 180);
    transition: background-color 0.3s;
    font-family: cocogoose;
    
  }
  
  .menu li.active {
    border-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(44, 194, 180);
    color: rgb(1, 1, 1);
  }
  
  .content {
    margin-top: 20px;
  }
  .text{
    font-family: cocogoose;
    font-size: 40px;
    color: rgb(44, 194, 180);
    display: flex;
    justify-content: center;
  }
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 500px;
    display: inline-block; 
    vertical-align: top; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    -webkit-box-shadow: 0px 2px 14px 8px rgba(0,0,0,0.34); 
box-shadow: 0px 2px 14px 8px rgba(0,0,0,0.34);
line-height: 2.0;  
}

.p{
  font-family: cocogoose;
  font-size: 30px;
  color: rgb(44, 194, 180);
  margin-top: 20px;
}

  .card img {
    max-width: 200px;
    height: 200px;
  }

  .dontExist{
    font-family: cocogoose;
    font-size: 25px;
    color: red;
  }
  .cardText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 15px;
  }
  .cardID{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color:rgb(44, 194, 180);
    font-size: 18px;
  }