.step-item {
  @apply relative flex flex-col justify-center items-center w-36;
}

.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}

.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}

.active .step {
  @apply bg-sky-600;
}

.complete .step {
  @apply bg-green-600;
}

.complete p {
  @apply text-white;
}

.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-green-600;
}

/* stepper.css */
.step-item {
  display: flex;
  align-items: center;
  margin-right: 20px;

}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.step-item.active .step {
  background-color: #007bff;
  color: #fff;
}

.step-item.complete .step {
  background-color: #20c997;
}

.btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.btn:last-child {
  margin-right: 0;
}

/* Additional styles for form fields */
.container input[type="text"],
.container input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.container label {
  font-weight: bold;
}


/* Reserva.css */
.flex {
  display: flex;
  justify-content: space-between;
  width: 650px;
  position: relative;
  left: 50px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container {
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 20px;
}

.container h1 {
  text-align: center;
  font-size: 40px;
  font-family: Cocogoose;
  font-weight: 500;
  font-size: 28px;
}


.card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.step-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 14px;
  position: relative;
}

.step:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  height: 2px;
  width: 45px;
  background-color: #f0f0f0;
}

.step:first-child:before {
  display: none;
}

.step-item.active .step {
  background-color: #007bff;
  color: #fff;
}

.step-item.complete .step {
  background-color: #20c997;
}

.text-gray-500 {
  color: #777;
  font-size: 14px;
}

.btn {
  padding: 8px 16px;
  background-color: #20c997;
  color: #fff;
  border: none;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 5px 8px #0000005a;
  transition: background-color 0.3s ease;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  background-color: #20c996a0;
}

.container input[type="text"],
.container input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
}

.container label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Additional styles for a delicate and pleasing appearance */
.container body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f5f5f5;
}

.rese {
  width: 500px;
  height: auto !important;
  margin: 30px auto;
}

/* Add these styles to your existing CSS or a new CSS file */
.content-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.content-card h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.content-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.content-card ul {
  list-style: none;
  padding-left: 20px;
}

.content-card li {
  font-size: 14px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.content-card li:before {
  content: "\2022";
  /* Bullet point */
  position: absolute;
  left: 0;
}

.container input {
  margin: 0 10px;

}

.container label {
  margin-top: 10px;
}

.container label {
  display: block;
}

.container span {
  display: block;
  color: tomato;
  font-size: x-small;
}

.container input {
  margin-bottom: .3rem;
}

.rese input[type="text"],
.rese input[type="number"],
.rese input[type="email"],
.rese input[type="tel"],
.rese input[type="date"],
.rese input[type="time"] {
  /* Estilos comunes para los campos de entrada */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo específico para los mensajes de error */
.rese span {
  color: red;
  font-size: 10px;
}

#wallet_container {

  margin: 20px auto;
  justify-content: center;
  width: 100px;
}

/* Agrega estos estilos al archivo Reserva.css o en tus estilos globales */
.contenedor {
  display: flex;
  padding-left: 18px;
  justify-content: flex-start;
  align-items: flex-start;
}


.hotel-card {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 520px;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  align-items: center;

}



.hotel-details {
  flex: 1;
}

.hotel-description {
  margin-bottom: 10px;
  padding: 8px;
}

.hotel-location {
  font-size: 14px;
  color: #888;
}

.hotel-price {
  font-size: 18px;

  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 30px;
  background: #20c996;
  color: #fff;

}

.start {
  color: yellow;
}

.form-container {
  flex: 2;
  padding: 20px;
}

/* Resto de tus estilos CSS existentes */

.info {
  margin-top: 120px;
  margin-bottom: 120px;
}


.carousel-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
}

/* Configuración para la animación automática */

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.carousel {
  animation: slide 10s linear infinite;

  transition: transform 10s ease;
}

/* Ajusta el tamaño de las imágenes según tu diseño */
.carousel-item img {
  width: 100%;
  height: auto;
}
.ticket {
  background-color: #f4f2f26d;
  background-image: url('../../assets/image/logo.png'); 
  background-repeat:repeat-y;
  background-size: 250px; 
  
  border: 1px solid #959595;
  margin: 20px auto;
  border-radius: 6px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 7px 10px #3333333b;
  position: relative;
  overflow: hidden;
}
.ticket img{
  width:100px ;
  text-align: center;
}
.thanks{
  display: flex;
  gap: 5px;
  margin-top: 25px;
}
.ticket::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  height: 16px;
  background-color: #fff;
  transform: skewY(-10deg);
  z-index: 1;
}

.ticket::after {
 
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 16px;
  background-color: #fff;
  transform: skewY(10deg);
  z-index: 1;
}

.ticket-content {
  position: relative;
  z-index: 2;
}

.ticket-header h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ticket-header p {
  font-size: 14px;
  color: #666;
}

.step-data {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.step-data h3 {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: bold;
}

.step-data p {
  margin: 5px;
}

.ticket-footer {
  margin-top: 20px;
  text-align: center;
}

.ticket-footer p {
  margin: 0;
}

.ticket-footer a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
.download-button button{
  padding: 5px;
  border-radius: 8px;
  background: #20c996;
}
.download-button button:hover{
  background:#20c99678;
}
