.registrationForm {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  min-width: 300px;
  max-width: 600px;
  -webkit-box-shadow: 1px 4px 28px 9px rgba(0, 0, 0, 0.41);
  box-shadow: 1px 4px 28px 9px rgba(0, 0, 0, 0.41);
}

.Steps {
  width: 100%
}

.div {
  display: flex;
  max-width: 100%;
  align-items: center;
  margin: 0px auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
}

.div .FormGroup {
  width: 90%;
}

.heading {
  font-family: cocogoose;
  font-size: 40px;
  color: rgb(44, 194, 180);
}

.formLabel {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  color: rgb(44, 194, 180);
  margin-top: 20px;
}

.atributtes {
  display: flex;
  font-size: 15px;
  font-family: cocogoose;
  align-items: center;
}

.input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 8px;
}

.stepContainer {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.buttonCreate {
  color: rgb(255, 255, 255);
  border: 1px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(44, 194, 180);
  -webkit-box-shadow: 2px 3px 10px 9px rgba(0, 0, 0, 0.41);
  box-shadow: 2px 3px 10px 9px rgba(0, 0, 0, 0.41);
  font-family: cocogoose;
}

.button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(44, 194, 180);
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: block;
  margin: 10px auto;
  font-family: cocogoose;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.inputContainer select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.UploadImages {
  width: 100%;
  height: auto;
}

.ImageContainer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.label {
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  font-family: cocogoose;
}

.label svg {
  margin-right: 8px;
}

.label:hover {
  color: rgb(44, 194, 180);
}

.label input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
}

.label input[type="checkbox"]:checked {
  background-color: #4e5255;
  border-color: #4e5255;
  color: white;
}

.icon {
  margin: 20px;
  font-size: 20px;
  color: rgb(44, 194, 180);
}

.align {
  display: flex;
  gap: 5px;
}

.centerButton {
  display: flex;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 10px auto;
}

.button:hover {
  background-color: rgb(198, 208, 207);
}

.button:active {
  background-color: 44, 194, 180;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  align-content: space-around;
}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.create {
    color: #101010;
    letter-spacing: 5px;
    font-family: 'Secular One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 550px;
    margin-right: 150px;
}

.box {
    margin-top: 20px;
    position: relative;
    width: 330px;
    height: 280px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px whitesmoke, inset 0 -2px 50px rgba(255, 255, 255, 0.5);
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Secular One', sans-serif;
    margin-top: -30px;
    margin-left: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

.image img {
    position: absolute;
    margin-left: 100px;
    margin-top: 40px;
    max-width: 250px;
    height: auto;
    transition: 1s;
}

.image img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.boxForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    max-height: 1000px;
    padding: 30px;
    margin-left: 150px;
    border-radius: 50px;
    background-color: #bbbbbb4a;
    box-shadow: 0 2px 5px whitesmoke, inset 0 -2px 50px rgba(255, 255, 255, 0.5);
    /* Create the bevel effect */
/* margin: 20px 0;
} */
/* k */

/* .body {
  background-color: white;
  color: rgb(128, 17, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.body h1{
    font-size: 40px;
    color: gray;
  }

  .label {
    display: block;
    margin-bottom: 5px;
    color: gray;
  } */

/* 
  select,
  input[type="text"],
  input[type="number"],
  input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 3px;
  }
  
  select {
    appearance: none;
    background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><polygon points='0,0 12,0 6,8'/></svg>")
      no-repeat right 10px center;
    background-color: white;
  }
  
  button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  } */