/* Paginated.module.css */
.Paginated {
    display: contents;
    text-align: center;
}

.Pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    font-family: "Segoe UI ", Arial, sans-serif;
    font-weight: 600;
    font-size: 25px;
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    outline: none;
    margin: 5px;
}

.DisableButton {
    text-align: center;
}

.button:hover {
    background-color: rgba(44, 194, 179, 0.414);
}

.button.Active {
    background-color: rgb(44, 194, 180);
    color: white;
    border-color: rgb(44, 194, 180);
}

.Icon {
    border: none;

}

.slider-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}