.dashboard {
  display: flex;
  flex-direction: column;
  background-color: #f5f7fb;
  overflow:hidden;
}


.logo{
  width: 200px;
  margin: 0 auto;
  margin-left: 100px;
  padding: 0 5px;
  filter: drop-shadow(1px 15px 10px #201f1f62);
}
.navbar {
  display: flex;
  align-items: center;
  width: 1920px;
  height: 127px;
  background-color: #20c997;
  color: white;
  border: none;
}
.lo{
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.title {
  
  font-size: 1.25rem;
  margin-left: 20px;
  font-family: cocogoose;
}
.container {
  display: flex;
  flex-grow: 1;
  max-height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 275px;
  height: 100vh;
  background-color: #20c997;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  border: none;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 1.25rem 2rem;
  cursor: pointer;
  transition: background-color 0.2s;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.menu li:hover {
  background-color: #34495e;
}

.icon {
  margin-right: 1rem;
  font-size: 30px;
  color: white;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #333;
}

.logoNavbar{
  font-size: 50px;
  margin-left: 100px;
}
.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconNext {
  font-size: 30px;
  color: white;
}
.uploadButton{
  font-size: 20px;
  position: relative;
  bottom:35px;
  left: 30px;
  cursor: pointer;
}
.uploadButton:hover{
  
  
  color: #34495e;
}

.span{
  font-family: cocogoose;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}
/* styles.css */
/* styles.css */
.logoNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoNavbar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 20px;
}
 
.logoNavbar .icon {
  font-size: 30px;
  margin-bottom: 10px;
  
  
}

.logoNavbar input[type="file"] {
  display: none; /* Para ocultar el input por defecto */
}































