.container {
  
  text-align: center;
  margin: 20px 80px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  grid-gap: 20px; /* Espacio entre las tarjetas */
}


.card {
  text-align: center;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 10s ease;
  overflow: hidden;
  
}
.slide img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card:nth-child(4n) {
  margin-right: 0; /* Elimina el margen derecho para la cuarta tarjeta en cada fila */
}

/* Estilos adicionales para tus elementos, como .colorCircle, .bannerImage, .comment, .stars, etc. */

.redes{
  display: flex;
  font-size: 30px;
  gap: 20px;
  text-decoration: none;
  margin-top: 20px;
}
.redes .git {
  text-decoration: none;
  color: #20c996;
  
}
.redes .link {
  text-decoration: none;
  color: blue;
}
.redes .git:hover {
  color: #20c99661;
}
.redes .link:hover {
  color: rgba(0, 0, 255, 0.404);
}

.datos{
  padding: 20px 20px;
  border: 1px solid #ddd;
}

.list {
  background-color: #fff;
  
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: transparent;
  padding: 20px 20px;
  margin: 20px;
  width: 100%; 
}

/* Estilos para el encabezado de la tarjeta */
.header {
  text-align: center;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 24px;
  color: #333;
}

/* Estilos para la lista de aspectos clave */
.list {
  list-style-type: none;
  padding: 0;
}

.item {
  margin-bottom: 15px;
}

.item strong {
  font-weight: bold;
  color: #20c996; 
}

.item p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
.more{
  margin-top: 150px;
}