.conteiner {
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  color: white;
}

.navbar_logo img {
  width: calc(36% - 10px);
  padding: 0 5px;
  filter: drop-shadow(1px 15px 10px #201f1f62);
}

.navbar_buttons {
  display: flex;
  gap: 10px;
}

.navbar_button {
  background: #101010;
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 7px 10px #2525255a;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 0;
  margin: 25px 5px;
  transition: 1s;

}

.navbar_button:hover {
  background-color: #2CC2B4;
  color: #101010;
  transition: 1s;
}

.navbar_login {
  display: flex;
  background: transparent;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .navbar_buttons {
    flex-direction: column;
    gap: 5px;
  }
}