
  .chartContainer {
    display: inline-block;
    margin: 1rem;
    margin-top: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 39px 7px rgba(0,0,0,0.48); 
    box-shadow: 2px 4px 39px 7px rgba(0,0,0,0.48);   
  }
  .chartTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: cocogoose;
    display: flex;
    justify-content: center;
 
  }
  
  .bar {
    fill:  rgb(11, 163, 171);
    transition: fill 0.3s ease; 
  }
  .bar:hover {
    fill: #989c9f;
  }

