.Container {
    display: flex;
    justify-content: center;
    font-family: CocoSharp;
    color: white;
    height: 180px;
    width: 100%;


}


.box{
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/image/landscape01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 50px 0px 0px;
    margin: 0 50px;

}



.LinksContact {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    width: 500px !important;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.LinksContact a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.LinksContact a:hover {
    color: #2CC2B4;
    transform: scale(1.1);
    -webkit-text-stroke: 1px aliceblue;
    text-shadow: 0 7px 10px #000;
}

.RedSocial {
    display: flex;
    margin-top: 30px;
    width: 300px;
}


.baseline{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.Copyright {
    display: flex;
    margin-top: 20px;
    line-height: 0;
    font-size: 12px !important;
    filter: brightness(2.5);
    margin-bottom: 10px ;
}

.PayLogoIcons{
    display: flex;
    flex-direction: row;
    top: 0;
    gap: 25px;
    margin: 0;
    height: 100%;
}

.Pay {
    display: flex;
    width: 240px;
    height: 30px;
    background-image: url('../../assets/image/mp.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.FindHotel {
    display: flex;
    width: 240px;
    height: 30px;
    background-image: url('../../assets/image/logo2.png');
    background-repeat: no-repeat;
    background-size: cover;
}