
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.componet{
    margin-top: 30px;
    margin-bottom: 50px;
}
.info{
    margin: 70px 0;
}
.banner{
    margin: 70px 0;
}