@tailwind base;
@tailwind components;
@tailwind utilities;



.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
/* Inicio - Modificado */
.App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);  
}

#Dark {
  background-color: #282c34;
  color: white;
}
#Dark a{
  color: white;
}

#Light {
  background-color: #f2f4f6;
  color:#0d3f67;
}

.list li{
  display:inline-block;
  padding-left:3px;
  padding-right:3px;
}
