body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a,
Link,
NavLink:-webkit-any-link {
  text-decoration: none;
  color: none;
  cursor: pointer;
}

@font-face {
  font-family: Cocogoose;
  src: url(./assets/tipografia/Cocogoose.ttf) format(truetype);
}

@font-face {
  font-family: CocoSharp;
  src: url(./assets/tipografia/Coco-Sharp-Bold.ttf) format(truetype);
} 

@font-face {
  font-family: CocoSharpBold;
  src: url(./assets/tipografia/Coco-Sharp-Extrabold.ttf) format(truetype);
} 